<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
    <link rel="stylesheet" th:href="@{/css/hello.css}">
</head>
<body>
    <div class="gnavi__wrap">
        <ul class="gnavi__lists">
            <li class="gnavi__list">
                <a href="#">メニュータイトル</a>
                <ul class="dropdown__lists">
                    <li class="dropdown__list"><a href="#">メニュー1</a></li>
                    <li class="dropdown__list"><a href="#">メニュー2</a></li>
                    <li class="dropdown__list"><a href="#">メニュー3</a></li>
                </ul>
            </li>
            <li class="gnavi__list"><a href="#">メニュータイトル</a></li>
            <li class="gnavi__list"><a href="#">メニュータイトル</a></li>
            <li class="gnavi__list"><a href="#">メニュータイトル</a></li>
            <li class="gnavi__list"><a href="#">メニュータイトル</a></li>
        </ul>
    </div>
</body>
</html>
